@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    font-family: 'Be Vietnam Pro', sans-serif;
}

#logo
{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 25px;
    color: #fff;
    font-family: 'Be Vietnam Pro', sans-serif;
    
    
}


nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    padding: 30px 50px;
}

#nav-list 
{
    display: flex;
}

#nav-list li
{
    margin-left: 30px;
    list-style: none;
}

#nav-list li a
{
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

section
{
    background-image: linear-gradient( #333, #111);
    height: 130vh; 
}

section .banner-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f9f9;
    margin-top: 5%;
}

section .banner-section p
{
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 5px;
}

section .banner-section h1
{
    text-transform: uppercase;
    font-size: 8em;
    line-height: 20px;
    font-weight: bold;
    transition: 0.5s;

}


section #p-left
{
    text-align: left;
}

section .redes-socias-section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    padding: 0px 30px;
}

section .redes-socias-section .redes-socias-section-logos
{
    display: flex;
    flex-direction: column;
}

section .redes-socias-section .sroll-section
{
    display: flex;
    flex-direction: column;
    transform: rotate(90deg);
    color: #e7e7e7;
    letter-spacing: 3px;
}

section .redes-socias-section .sroll-section p
{   
    position: relative;
    top: -10px;
    left: 70px;
    width: 30px;
    border-bottom: 2px solid #f9f9f9;
}

#section-segundario .redes-socias-section .sroll-section #barra-scroll-2
{
    position: relative;
    top: -10px;
    left: -45px;
}

#section-segundario .redes-socias-section .sroll-section #barra-scroll
{
    top: 10px;
}

.redes-socias-section-logos a
{
    color: #e7e7e7;
    margin: 5px 0px;
    font-size: 1.1em;
}


#section-segundario
{

    height: 130vh;
    background-image: linear-gradient( #111,#333);

}

.boxes
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 100px;
}
.box
{
    color: #fff;
    text-align: center;
    width: 500px;
    height: 400px;
    transition: 0.5s;
    border-radius: 10px;
    border: 1px solid #111;
    margin: 0px 10px;

}

.box:hover 
{
    border: none;
    box-shadow: 1px 4px 50px 1px rgb(17, 17, 17);
    
}

.box:active
{
    border: 1px solid #fff;
}

/* #section-segundario:hover .text-section-segundario h1
{
    animation: sepnome 1s normal infinite;
} */


@keyframes sepnome
{
    0%
    {
        letter-spacing: 1px;
    }
    100%
    {
        letter-spacing: 70px;
    }
}

.box p
{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}


.text-section-segundario
{
    position: relative;
    top: -100px;
    text-align:center;
    color: #fff;
}

.text-section-segundario h1
{
    font-size: 5em;
    text-transform: uppercase;
}

.text-section-segundario p
{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -20px;
}

.text-section-segundario a
{
    position: relative;
    top: 30px;
    padding: 20px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(29, 29, 29);
    box-shadow: 2px 5px 10px 2px rgb(15, 15, 15);
}


.box-estrelas a
{
    text-decoration: none;
    font-size: 1.5em;
    border: none;
    color: #e9d202;
}


